

<mat-toolbar color="primary">
    <span >
      <img class="logo" src="/assets/img/logo.jpg" />
    </span>
  <span class="toolbar-spacer"></span>
  <span>Добре дошли на сайта за проследяване на камиони в реално време!</span>
  <span class="toolbar-spacer"></span>
  <button mat-button (click)="home()">Начало</button>
  <button mat-button (click)="omaps()">OSM Карта</button>
  <button mat-button (click)="gmaps()">Гугъл Карта</button>
  <button mat-button (click)="about()">За нас</button>
  <button mat-button (click)="contacts()">Контакти</button>
  <!--<button mat-raised-button color="accent" (click)="login()">Вход</button>
  <button mat-raised-button color="accent" (click)="singup()">Регистрация</button>    -->
</mat-toolbar>


<router-outlet></router-outlet>
